@import url(https://fonts.googleapis.com/css?family=Livvic&display=swap); /* Подключение текста */

html, body, div, span, br, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, thead, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	height: auto;
	font-family: 'Livvic', sans-serif; /* Задан стиль текста по умолчанию всему сайту */
	 /* Задний фон */
}

.container {
	width:1140px; /* Ширина сайта */
}

.modal-content {
	background-color:#eef0e9;
}

/* Start Navigation */
nav {
	background-color: #a55f41; /* Цвет меню */
}

nav a {
	color: #eef0e9; /* Цвет ссылок */
}

nav a:hover {
	color: #fceac6; /* Цвет ссылок при наведении */
}

.navbar-brand {
	font-size: 26px; /* Размер текста бренда */
}

.navbar-toggler {
	background-color: #503434; /* Изменение фона кнопки на мобильных устройствах */
}

.navbar-toggler-icon {
	height: 25px; /* Размер иконки по высоте на моб. устройствах */
	width:25px; /* Размер иконки по высоте на моб. устройствах */
	margin-top: 3px; /* Отступ иконки сверху на моб. устройствах */
	color: #eef0e9; /* Цвет иконки на моб. устройствах */
}
/* End Navigation */

/* Start Carousel */

.d-block {
	height: 300px; /* Размер изображения карусели по высоте */
}

/* End Carousel */

/* Start Content */

.content {
	margin-top: 10px; /* Отступ от карусели */
}

.product {
	border-bottom: 1px solid #eef0e9; /* Задание границы продукта */
}

.product:hover {
	box-shadow: 0 0 0 250px #fceac6 inset; /* Внутреняя тень при наведении на продукт */
	transition: box-shadow 700ms linear 0ms; /* Анимация тени */
}

.name-product {
	font-size: 16px; /* Размер текста в наименовании продукта */
	color: #a55f41; /* Цвет текста */
	font-weight: bold; /* Жирный текст */
}

.product a {
	text-decoration: none; /* Убираем нижнее подчёркивание у ссылок */
}

.product a:hover {
	color: #503434; /* Цвет ссылки при наведении */
}

.product-controls {
	height: 50px; /* Высота продукт контролера */
	margin-bottom: 10px; /* Отступ снизу */
	padding: 10px 15px 0 15px; /* Отступ */
}

.product-price {
	font-size: 24px; /* Размер текста цены продукта */
}

.product-money {
	font-weight: bold; /* Жирный шрифт для цены */
}

.product-to-cart {
	margin-top: 5px; /* Отступ сверху */
}

/* End Content */

/* Start Button */

a.accept-product{
	color: #503434;
	padding: 10px 10px;
	width: 100px;
	text-decoration:none;
	text-align:center;
	background-image: linear-gradient(to left,transparent,transparent 50%,#a55f41 50%,#a55f41);
	background-position: 100% 0;
	background-size: 200% 100%;
	transition: all .25s ease-in;
	font: 400 18px tahoma;
	border: 1px solid #503434;
}
a.accept-product:hover {
	background-position: 0 0;
	color:#503434;
}

/* End Button */

/* Start Cart */

/* End Cart */


/* Start Footer */

footer {
	margin-top: 10px; /* Отступ сверху */
	padding-top: 16px; /* Внутрений отступ */
	padding-bottom: 16px;
	height: auto; /* Высота футера */
	background-color: #a55f41; /* Цвет подвала */
}

.social-bar img {
	width: 28px; /* Размер логотипа социал бара */
	height: 28px; /* Размер логотипа социал бара */
}

.social-bar a {
	text-decoration: none; /* Убирание нижнего подчёркивания у ссылок */
	color: #503434; /* Цвет ссылок */
}

/* End Footer */

/* Start Paginator */

.page-item.active .page-link {
	background-color: #503434;
	border-color: #000000;
	color: #eef0e9;
}

.page-link {
	background-color: #a55f41;
	border-color: #000000;
	color: #eef0e9;
}

.page-link:hover {
	background-color: #503434;
	border-color: #000000;
	color: #fceac6;
}

/* End Paginator */