@import url(https://fonts.googleapis.com/css?family=Livvic&display=swap);

html, body, div, span, br, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tfoot, thead, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
	height: auto;
	font-family: 'Livvic', sans-serif;
	background-color: #fceac6;
}

.container {
	width:1140px;
}


/* Start Navigation */
nav {
	background-color: #a55f41; /* Цвет меню */
}

nav a {
	color: #eef0e9; /* Цвет ссылок */
}

nav a:hover {
	color: #fceac6; /* Цвет ссылок при наведении */
}

.navbar-brand {
	font-size: 26px; /* Размер шрифта бренда */
}

.navbar-toggler {
	background-color: #503434; /* Изменение фона кнопки на мобильных устройствах */
}

.navbar-toggler-icon {
	height: 25px; /* Размер иконки по высоте на моб. устройствах */
	width:25px; /* Размер иконки по высоте на моб. устройствах */
	margin-top: 3px; /* Отступ иконки сверху на моб. устройствах */
	color: #eef0e9; /* Цвет иконки на моб. устройствах */
}
/* End Navigation */

/* Start Carousel */

.d-block {
	height: 300px; /* Размер изображения карусели по высоте */
}

/* End Carousel */

/* Start Content */

.product {
	height: 300px;
	margin-top: 5px;
	background-color: #eef0e9;
}

.product img {
	max-width: 100%;
	height: auto;
	display: block;
}

.product a {
	text-decoration: none;
}

.product a:hover {
	color: #a55f41;
}

.name-product {
	font-size: 16px;
	color: #503434;

}

/* End Content */

